.popular {
  position: relative;
  top: 20%;
  transform: translateY(-20%);
}

.popular-posters {
  display: flex;
  overflow: scroll;
}

.popular-item {
  margin: 5px;
}

.popular p {
  padding-bottom: 8px;
  color: var(--text);
}

.no-poster {
  height: 200px;
  border-bottom: 1px solid var(--border);
  align-items: center;
}
