.results {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--background);
}

.searching {
  margin-top: 24px;
  color: var(--text);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-item {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 20px;
  border: 1px solid var(--border);
  color: var(--text);
  width: max-content;
  text-decoration: none;
  width: 300px;
}

p {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 16px 8px;
}

img {
  align-self: center;
}

.no-poster {
  height: 200px;
  border-bottom: 1px solid var(--border);
  align-items: center;
}
