.results {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: transparent;
}

.searching {
  margin-top: 24px;
  color: var(--text);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 20px;
  border: 1px solid var(--border);
  color: var(--text);
  width: max-content;
  text-decoration: none;
  width: 300px;
}

.item p {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 16px 8px;
  border: none;
}

.item p:last-of-type {
  border-top: 1px solid var(--border);
}

.item img {
  align-self: center;
}

.no-results {
  color: var(--text);
}
