.name {
  color: var(--text);
}

.tooltip-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background);
}

.tooltip-wrapper p {
  color: var(--text);
}
