.graph {
  margin: auto;
  max-width: 1000px;
}

.graph p {
  text-align: center;
  color: var(--text);
  padding: 5px 0;
}

.tooltip-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background);
}

.tooltip-wrapper p {
  color: var(--text);
}
