.header {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1000px;
  width: 100vw;
  padding-top: 32px;
  padding-bottom: 16px;
  box-sizing: border-box;
}

.top {
  position: relative;
}

.poster {
  width: 300px;
}

.backdrop {
  align-self: flex-start;
  width: 100%;
  mask-image: linear-gradient(rgba(0, 0, 0, 1), transparent);
}

.title {
  bottom: 0;
  margin-bottom: 0;
}

.title,
.info,
.overview {
  color: var(--text);
  padding: 0 18px;
}

.released {
  font-weight: normal;
}

.info .genres::before {
  content: '';
  padding: 0px;
}

.info span::before {
  content: '\2022';
  padding: 8px;
}

.loading {
  text-align: center;
}

.loading p {
  color: var(--text);
}

.error {
  color: var(--text);
  text-align: center;
}
