.container {
  padding: 8px;
  display: flex;
  align-items: center;
  height: 49px;
  box-sizing: border-box;
}

.container form {
  margin: auto;
}

.title {
  margin: 0;
  position: absolute;
}

.title a {
  margin-right: auto;
  color: var(--text);
  text-decoration: none;
}

@media (max-width: 735px) {
  .title {
    position: initial;
    padding-right: 6px;
  }
}
